name: Bridges Core SDK CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read

jobs:
  validation:
    name: Code integrity validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '19.6.0'
      - name: Install dependencies
        run: npm ci && npm run build
      - name: Validate code format
        run: npm run lint:validation
      - name: Run unit tests
        run: npm run test